body {
    font-family: Arial, sans-serif;
}

.filters {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.5%, 1fr)); /* Adjust the percentage as needed */
    grid-gap: 20px; /* Adjust the gap between books */
}


.book {
    width: 80%;
    box-sizing: border-box;
}



@media screen and (max-width: 768px) {
    #books {
        grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr)); /* Adjust for mobile view */
    }
}


.thumbnail {
    margin-right: 10px;
}

.thumbnail img {
    width: 100px;
    height: 150px;
}
#mobileMenu {
    display: none;
}

/* Open menu icon */
.menu-open {
    transform: rotate(90deg);
}
/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 85px;
    height: 40px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.desktop-menu {
    display: flex;
}

.menu-items a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

/* Mobile menu */
.mobile-menu {
    display: none;
}

/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

.footer-text {
    margin: 0;
}
